<div id="content-header">
    <div class="headings">
        <h2>Spiritus</h2>
        <h1><%= name %></h1>
    </div>

    <div class="buttons button-group">
        <a href="/spirit/<%= id %>/edit" role="button">Redigér</a>
        <button>Fjern</button>
    </div>
</div>

<div class="output">
    <span>Spiritustype</span>
    <div><%= name %></div>
</div>

<div class="output">
    <span>Alkoholprocent</span>
    <div><%= abv %></div>
</div>

<div class="output">
    <span>Opskrift</span>
    <div><%= recipe ? recipe : 'N/A' %></div>
</div>

